/* Estilos para el título */
.title {
  width: 50%;
  margin: 0 auto;
  font-size: 30px;
  color: #000000;
  border: 8px double #fff ;
  font-weight: 300;
  transform: translateY(5px);
}

/* Estilos para el contenedor principal */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

/* Estilos para el contenedor de recetas */
.recipeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Estilos para la tarjeta de receta */
.recipeCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #d7c768;
  box-shadow: 2px 2px 15px #646363;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}

.recipeCard:hover{
  transform: scale(1.02);
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
