/* Estilos para el contenedor principal */
.detailContainer {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar el contenido horizontalmente */
}

/* Estilos para la imagen de la receta */
.recipeImage {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.recipeImage:hover {
  transform: scale(1.05);
}

/* Estilos para el resumen */
.summary {
  text-align: justify;
  margin-top: 20px;
}

/* Estilos para los pasos de la receta */
.stepsContainer {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Permite que los pasos se envuelvan en varias filas */
  justify-content: space-between; /* Distribuir los pasos de manera equitativa en la fila */
}

.stepsContainer p {
  margin: 8px 0;
}

.step{
  display: flex;
  margin: 8px 0;
  text-align: justify;
}

.stepsContainer li {
  flex: 0 0 calc(50% - 10px); /* Ocupa el 50% del ancho de la fila y deja espacio entre ellos */
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.stepsContainer li:hover {
  transform: scale(1.05);
}

.backLink {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: fixed; /* Establecer posición absoluta */
  top: 50px; /* Distancia desde la parte superior */
  left: 50px; /* Distancia desde la parte izquierda */
  
}

.backLink:hover {
  transform: scale(1.05);
}


